<% include ../partials/header%>


<div class="container">
<header class="jumbotron">
    <div class="container">
            <h1 style="color:white;">Welcome to BobaKey.</h1>
    <p style="color:white;">View our hand-picked stores!</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/stores/new">Add New Store</a>
    </p>
    </div>


</header>
<div class="row text-center border-primary" style="display:flex; flex-wrap:wrap;">
    <% stores.forEach(function(store){%>
    <div class="card col-md-3 col-sm-6" style="width: 18rem;">
        <img class="card-img-top" src="<%=store.image%>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%=store.name%></h5>
            <a class="btn btn-primary" href="/stores/<%=store._id%>">More Info</a>
        </div>
    </div>

<%});%>
</div>
</div>

<% include ../partials/footer%>
